<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */

textdomain('main')
?><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Main Administration</title>
		<link href="/css/reset.css" rel="stylesheet">
		<link href="/css/fonts.css" rel="stylesheet">
		<link href="/css/main.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<header class="admin-header">
			<nav id="nav-main">
				<ul>
					<li><a href="/main/contents"><i class="fa fa-file-o"></i> <?php echo _('Content Administration')?></a></li>
					<li><a href="/main/seo"><i class="fa fa-user-secret"></i> <?php echo _('SEO')?></a></li>
					<li><a href="/main/resources"><i class="fa fa-user-secret"></i> <?php echo _('Resources')?></a></li>
					<li><a href="/main/social"><i class="fa fa-medium"></i> <?php echo _('Social')?></a></li>
					<li><a href="/main/events"><i class="fa fa-user-secret"></i> <?php echo _('Events')?></a></li>
					<li><a href="/main/media"><i class="fa fa-user-secret"></i> <?php echo _('Multimedia')?></a></li>
				</ul>
			</nav>
			<nav id="nav-useractions">
				<ul>
					<li><a href="/dashboard/user"><i></i> <?php echo _('Log out')?></a></li>
					<li><a href="/dashboard"><i></i> <?php echo _('Dashboard')?></a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<?php echo $this->getContent()?>
		</div>
		<footer class="admin-footer">
			<nav id="nav-footer">

			</nav>
		</footer>
		<script src="/js/main.bundle.js"></script>
	</body>
</html>