<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<section id="profile-basic-info">
	<h4><?php echo _('Main information')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Full Name')?></dt>
			<dd><input type="text" name="profile[fullname]"></dd>
			<dt><?php echo _('Login')?></dt>
			<dd><input type="text" name="profile[login]" disabled="disabled"></dd>
			<dt><?php echo _('Password')?></dt>
			<dd><input type="reset" name="profile[password]"></dd>
		</dl>
	</form>
</section>
<section id="profile-contact-info">
	<h4><?php echo _('Contact Info')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Address')?></dt>
			<dd><input name="contact[addresses][address]"></dd>
			<dt><?php echo _('Postal Code')?></dt>
			<dd><input name="contact[addresses][address]"></dd>
			<dt><?php echo _('City')?></dt>
			<dd><input name="contact[addresses][address]"></dd>
			<dt><?php echo _('Region/State')?></dt>
			<dd><input name="contact[addresses][address]"></dd>
			<dt><?php echo _('Country')?></dt>
			<dd>
				<select>
					<option value="208"><?php echo _('Danmark')?></option>
					<option value="201"><?php echo _('England')?></option>
				</select>
			</dd>
		</dl>
	</form>
	<h4><?php echo _('Emails')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Email')?></dt>
			<dd><input name="contact[emails][primary]"></dd>
		</dl>
	</form>
	<h4><?php echo _('Phone numbers')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Phone number')?></dt>
			<dd><input name="contact[phonenumbers][primary]"></dd>
		</dl>
	</form>
</section>