<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<?php $this->partial('contents/_menu')?>
<section class="resource-section">
	<h2><?php echo _('Layouts')?></h2>
	<table id="layouts-table" class="resource-table layouts-table">
		<thead>
			<tr>
				<th><?php echo _('ObjectID')?></th>
				<th><?php echo _('Page')?></th>
				<th><?php echo _('Options')?></th>
			</tr>
		</thead>
		<tbody id="layouts-container">
		</tbody>
		<tfoot>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</tfoot>
	</table>
</section>
