<?php
/**
 * _menu.phtml.
 *
 * TODO: Documentation required!
 */
?>
<nav id="menu-main">
	<ul>
		<li><a href="/main/notifications"><i class="fa fa-file-o"></i> <?php echo _('Notifications')?></a></li>
		<li><a href="/main/crontabs"><i class="fa fa-columns"></i> <?php echo _('Scheduled Events')?></a></li>
		<li><a href="/main/alerts"><i class="fa fa-columns"></i> <?php echo _('Alerts and warnings')?></a></li>
	</ul>
</nav>
