<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<?php $this->partial('events/_menu')?>
<section class="resource-section">
	<h2><?php echo _('System Events Administration')?></h2>
	<?php echo _('<p>Manage user-/system- events, crontabs and other automation</p>')?>
</section>
