<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>			<section class="splash-column news-items" style="display: none">
				<article>
					<header>
						<h4><?php echo _('CMS News')?></h4>
					</header>
					<section class="splash-content">
						<?php echo $this->getContent()?>
					</section>
					<footer>
						<?php echo date_format(new DateTime('now'), 'd. M, Y')?>
					</footer>
				</article>
			</section>
