<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<?php $this->partial('contents/_menu')?>
<nav class="page-edit-tabheaders">
	<ul>
		<li><i class="fa fa-safari"></i> <?php echo _('Page Preview')?></li>
		<li><i class="fa fa-th-large"></i> <?php echo _('Page Contents')?></li>
		<li><i class="fa fa-cubes"></i> <?php echo _('Page Meta Data')?></li>
		<li><i class="fa fa-cogs"></i> <?php echo _('General Page Settings')?></li>
	</ul>
</nav>
<section class="page-edit-section page-preview">
	<h2><i class="fa fa-safari"></i> <?php echo _('Page Preview')?></h2>
</section>

<section class="page-edit-section">
	<h2><i class="fa fa-th-large"></i> <?php echo _('Page Contents')?></h2>
	<section class="page-sections-manager">
		<h4><?php echo _('Sections')?></h4>
		<?php echo _('<p>Sections in use on this page</p>')?>
		<select id="page-sections" multiple="multiple">
		</select>
		<nav class="edit-section-options">
			<ul>
				<li><i class="fa fa-arrow-circle-left"></i> <?php echo _('Add Section...')?></li>
				<li><i class="fa fa-arrow-circle-right"></i> <?php echo _('Remove selected Sections')?></li>
			</ul>
		</nav>
	</section>
</section>

<section class="page-edit-section">
	<h2><i class="fa fa-cubes"></i> <?php echo _('Page Meta Data')?></h2>
	<section>
		<h4><?php echo _('Meta-tags')?></h4>
		<?php echo _('<p>Meta-tags in use on this page</p>')?>
		<select multiple="multiple">
			<option>Header</option>
		</select>
	</section>
	<section>
		<h4><?php echo _('Scripts')?></h4>
		<?php echo _('<p>Scripts in use on this page</p>')?>
		<select multiple="multiple">
			<option>Header</option>
		</select>
	</section>
	<section>
		<h4><?php echo _('Styles')?></h4>
		<?php echo _('<p>Styles in use on this page</p>')?>
		<select multiple="multiple">
			<option>Header</option>
		</select>
	</section>
</section>

<section class="page-edit-section">
	<h2><i class="fa fa-cogs"></i> <?php echo _('General Page Settings')?></h2>
	<section>
		<h4><?php echo _('Layout')?></h4>
		<?php echo _('<p>Select the layout-engine for this page</p>')?>
		<select name="page-layout-selector">
			<option>Template-managed</option>
		</select>
	</section>
</section>
