<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<?php $this->partial('contents/_menu')?>
<section class="resource-section">
	<h2><?php echo _('Pages')?></h2>
	<table id="pages-table" class="resource-table page-table">
		<thead>
			<tr>
				<th><?php echo _('GUID')?></th>
				<th><?php echo _('Revision')?></th>
				<th><?php echo _('Options')?></th>
			</tr>
		</thead>
		<tbody id="pages-container">
		</tbody>
		<tfoot>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</tfoot>
	</table>
</section>
