@import "../../shared/styles/fonts";
@import "../../shared/styles/colors";
@import "../../shared/styles/layout";

$fa-font-path = "../fonts"
@import "../../../../../bower_components/font-awesome-stylus/stylus/index";


body{
	background-color : pageBackground;
	font-family: fontText;
}
h4{
	font-size: 24px;
	line-height: 28px;
	font-family: fontHeader;
	font-weight: bold;
}
h2{
	font-size: 20px;
	line-height: 26px;
	font-family: fontHeader;
	font-weight: bold;
}

li{
	font-family: fontText;
}

nav#menu-main{
	ul{
		overflow: auto;
		li{
			float: left;
			margin: 0 20px 0 0;
		}
	}
}

section.resource-section,
section.page-edit-section{
	width : 100%;

	table.resource-table{
		width : 100%;

		th{
			text-align: left;
		}

		td.page-options{
			i.fa{
				margin: 0 10px 0 0;
			}
		}
	}
}

nav.page-edit-tabheaders{
	ul{
		overflow: auto;
		li{
			float: left;
		}
	}
}

section.page-edit-section{
	select[multiple='multiple']{
		min-height: 320px;
		width: 260px;
		margin: 20px 20px 0 0;
	}
	section.page-sections-manager{
		select[multiple='multiple'],
		nav{
			float: left;
		}
		nav{
			ul{
				li.edit-section-options{
					margin: 0 0 0 0;
					font-size: 10px;
				}
			}
			vertical-align: middle;
		}
	}
}

.page-option-edit{
	cursor : pointer;
}