<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<section>
	<h4><?php echo _('General Settings')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Interface Language')?></dt>
			<dd>
				<select name="settings[language]">
					<option value="da">Dansk</option>
					<option value="en_US">English (US)</option>
				</select>
			</dd>
			<dt><?php echo _('Currency')?></dt>
			<dd>
				<select name="settings[language]">
					<option value="dkk">Danske Kroner</option>
					<option value="eur">Euro</option>
				</select>
			</dd>
		</dl>
	</form>
</section>
