<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<section id="account-subscription">
	<h4><?php echo _('Account Settings')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Subscription Plan')?></dt>
			<dd>
				<select name="settings[language]">
					<option value="free">Gratis</option>
					<option value="pro">Professional</option>
				</select>
			</dd>
		</dl>
	</form>
</section>
<section id="account-payment">
	<h4><?php echo _('Payment')?></h4>
	<form>
		<dl>
			<dt><?php echo _('Subscription Plan')?></dt>
			<dd>
				<select name="settings[language]">
					<option value="free">Gratis</option>
					<option value="pro">Professional</option>
				</select>
			</dd>
		</dl>
	</form>
</section>
