<?php
/**
 * _menu.phtml.
 *
 * TODO: Documentation required!
 */
?>
			<nav id="menu-main">
				<ul>
					<li><a href="/main/pages"><i class="fa fa-file-o"></i> <?php echo _('Pages')?></a></li>
					<li><a href="/main/sections"><i class="fa fa-columns"></i> <?php echo _('Sections')?></a></li>
					<li><a href="/main/layouts"><i class="fa fa-object-group"></i> <?php echo _('Layouts')?></a></li>
				</ul>
			</nav>
