<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<?php $this->partial('contents/_menu')?>
<section class="resource-section">
	<h2><?php echo _('Content administration')?></h2>
	<?php echo _('<p>Manage pages and page contents</p>')?>
</section>
