@import "../../shared/styles/fonts";
@import "../../shared/styles/colors";
@import "../../shared/styles/layout";

$fa-font-path = "../fonts"
@import "../../../../../bower_components/font-awesome-stylus/stylus/index";


body{
	background-color : pageBackground;
	font-family: fontText;
}
h4{
	font-size: 24px;
	line-height: 28px;
	font-family: fontHeader;
	font-weight: bold;
}

