
.admin-header{
	width: 100%;
	height: 120px;
	overflow: auto;
	background-color: blockBackground;
}

nav#nav-main,
nav#nav-useractions{
	ul{
		overflow: auto;
		li{
			color : textColor;
			float: left;
			margin: 0 20px;
		}
	}
	a{
		color : textColor;
	}
}

nav#menu-dashboard{
	float: left;
	width: 160px;
	overflow: auto;
}

div#content{
	width: 70%;
	margin: 0 auto;
	min-height: 550px;
	padding-top: 20px;

	>section{
		float: left;
		border: 1px groove faintBorder;
		border-radius: 3px;
		-moz-border-radius: 3px;
		padding: 20px;
	}
}

.admin-footer{
	width: 70%;
	margin: 0 auto;
	min-height: 550px;
	border: 1px inset faintBorder;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 20px;
}