<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */

textdomain('dashboard')
?><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Personal Dashboard</title>
		<link href="/css/reset.css" rel="stylesheet">
		<link href="/css/fonts.css" rel="stylesheet">
		<link href="/css/dashboard.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<header class="admin-header">
			<nav id="nav-main">
				<ul>
					<li><a href="/main"><i></i> <?php echo _('Main Panel')?></a></li>
				</ul>
			</nav>
			<nav id="nav-useractions">
				<ul>
					<li><a href="/dashboard/user"><i></i> <?php echo _('Log out')?></a></li>
					<li><a href="/dashboard"><i></i> <?php echo _('Dashboard')?></a></li>
				</ul>
			</nav>
		</header>
		<div id="content">
			<nav id="menu-dashboard">
				<ul>
					<li><a href="/dashboard/profile"><i class="fa fa-user"></i> <?php echo _('Profile')?></a></li>
					<li><a href="/dashboard/account"><i class="fa fa-sliders"></i> <?php echo _('Account')?></a></li>
					<li><a href="/dashboard/settings"><i class="fa fa-cogs"></i> <?php echo _('Settings')?></a></li>
				</ul>
			</nav>
			<?php echo $this->getContent()?>
		</div>
		<footer class="admin-footer">
			<nav id="nav-footer">

			</nav>
		</footer>
		<script src="/js/dashboard.bundle.js"></script>
	</body>
</html>