<?php
/**
 * header.phtml.
 *
 * TODO: Documentation required!
 */
textdomain('www');
?><nav id="site-nav">
	<ul>
		<li><a href="/"><i></i> <?php echo _('Home')?></a></li>
		<li><a href="/lab"><i></i> <?php echo _('Lab')?></a></li>
	</ul>
</nav>
