<?php
/**
 * index.phtml.
 *
 * The markup for a page with a main content column and a sidebar to the right
 */
?><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<?php echo $meta?>
		<title><?php echo $title?></title>
		<?php echo $styles?>
		<?php echo $scripts?>
	</head>
	<body>
		<section class="container">
			<header id="header" class="page-header">
				<?php include '_header.phtml'?>
			</header>
			<section id="content" class="page-content">
				<?php echo $body?>
			</section>
			<section id="sidebar">
				<?php echo $sidebar?>
			</section>
			<footer id="footer" class="page-footer">
				<?php include '_footer.phtml'?>
				<?php echo $footerScripts?>
			</footer>
		</section>
	</body>
</html>