<?php
/**
 * index.phtml.
 *
 * The markup for the web site front page. This is where the main container layout is set
 */
?><!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<?php foreach ($metaTags as $metaTag):?>
		<?php endforeach?>
		<title><?php echo $title?></title>
		<?php foreach ($styles as $style):?>
			<link href="<?php echo $style?>" rel="stylesheet">
		<?php endforeach?>
		<?php foreach ($scripts as $script):?>
			<script src="<?php echo $script?>"></script>
		<?php endforeach?>
	</head>
	<body>
		<section class="container">
			<header id="header" class="page-header">
				<?php include '_header.phtml'?>
			</header>
			<section id="content" class="page-content">
				<?php echo $body?>
			</section>
			<footer id="footer" class="page-footer">
				<?php include '_footer.phtml'?>
				<?php foreach ($footerScripts as $script):?>
				<?php endforeach?>
			</footer>
		</section>
	</body>
</html>