<?php
/**
 * _menu.phtml.
 *
 * TODO: Documentation required!
 */
?>
<nav id="menu-main">
	<ul>
		<li><a href="/main/users"><i class="fa fa-file-o"></i> <?php echo _('Users')?></a></li>
		<li><a href="/main/profiles"><i class="fa fa-columns"></i> <?php echo _('Profiles')?></a></li>
		<li><a href="/main/permissions"><i class="fa fa-object-group"></i> <?php echo _('Permissions')?></a></li>
	</ul>
</nav>
