<?php
/**
 * index.phtml.
 *
 * TODO: Documentation required!
 */
?>
<?php $this->partial('resources/_menu')?>
<section class="resource-section">
	<h2><?php echo _('Resources administration')?></h2>
	<?php echo _('<p>Manage users, permissions, profiles, ...</p>')?>
</section>
